:root{
  --color-primary: #95adbe;
    --color-secondary: #ff7a5c;
    --color-black: #000000;
    --color-black-dark: #1a1a1a;
    --color-black-light: #999999;
    --color-white: #ffffff;
    --color-white-light: #f5f4f0;
    --font-primary: "Lora", serif;
    --font-secondary: "Roboto", serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
html, body {
  overflow-x: hidden;
  width: 100%;
}


body{
  font-family: var(--font-primary);
  font-size: 2rem;  
  color: var(--color-primary);
  background-color: var(--color-black-light);
}
/* header styling */
header{
  display: flex;
  justify-content: space-between; 
  
  padding: 3rem 2rem;
  background-color: var(--color-white-light);
  margin-bottom: 3rem;
  min-height: 10rem; 
  top: 0;
  opacity: 1;
  
}

nav ul{
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 2rem;
}
ul li a{
  text-decoration: none;
  color: var(--color-black-dark);
}
ul li a:hover{
  color: var(--color-primary);
}
.socials{
  display: flex;
  gap: 2rem;
  justify-content: left;
  padding: 1rem 2rem;
}

.socials a{
  text-decoration: none;
  color: var(--color-primary);
}
.socials a:hover{
  color: var(--color-black-dark);
}

.logo-wrapper{
 max-height:20vh;
max-width: 20vh;
}
.logo-wrapper img{
  height: 80%;
  width: 100%;
  border-radius: 1rem;
}

@media screen and (max-width: 50em) {
  header {
    /* flex-wrap: wrap;
    display: block;
    gap: 3rem;
    font-size: small;    
    color: var(--color-black);
    align-items: center;
    justify-content: center; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
  
  }
 

 
  /* .logo-wrapper {
    min-width: none;
    max-height: 5rem;
    margin-bottom: 2em;
  } */

  .logo-wrapper img {
   min-height: 5rem;
   width: auto;
  }
  .logo-wrapper{
    height: 15rem;
    width: auto;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
  
width: fit-content;
flex-wrap: wrap;
  }

  .socials {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .logo-wrapper img {
    max-width: 70%;
  }
  .navbar{
    width: fit-content;
  }
 
}



/* end of header styling */

/* hero section styling */

.hero{ 
  min-height: 100vh;
  background-color: var(--color-white-light);
  background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
   url("/public/images/room7.jpg");
  color: var(--color-black-dark);
  background-position: center ;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}
@media screen and (max-width: 50em) {
    .hero {
      min-height: 100vh;
    }
  }
  @media screen and (max-width: 43.em) {
    .hero {
      min-height: 100vh;
    }
  }

  
 
.hero-text {
  font-size: 2rem;
  font-family: var(--font-secondary);
  color: var(--color-white);
  text-align: center;
  margin-top: 2rem;
}
.hero-desc{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 5rem;
}

.hero-desc h2{
  font-size: 5rem;
  font-family: var(--font-secondary);
  color: var(--color-white);
  text-align: center;
  
}
.hero-desc2{
  align-items: center;
  justify-content: center;
  display: flex;
}
.hero-desc2 h2{
  /* Border around the h2 */
  padding: 1.5rem; /* Space inside the border */
  text-align: center; /* Center text inside */
  display: inline-block;
  font-size: 2rem;
  ;
  color: var(--color-white);
  
  
  border:  2px solid white;
}

.services{
  display: grid;
  grid-template-columns: repeat(2, 1fr);  
  gap: 2rem; 
  color: var(--color-white);
  justify-content: center;
  align-items: center;  
  min-height: 22rem;
  margin: 2rem;
  }

.service1{
  display: block;
  padding: 2rem;
  background-color: var(--color-black);
  opacity: 0.4;
  border-radius: 1rem;
  min-height: 22rem;

}

.service2{
  display: block;
  padding: 2rem;  
  border-radius: 1rem;
  min-height: 22rem;
  background-image: url(/images/room.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
@media screen and (max-width: 48em) {
  .services {
    grid-template-columns: repeat(1, 1fr);
    min-height: 15rem;
    justify-content: center;
    align-items: center;
  }
  .service2,
  .service1{
    border-radius: 2rem;
    padding: 2;
  }
  
}


.stats{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;  
  padding: 10rem 10rem;
  color: var(--color-white);
  justify-content: center;
  align-items: center;  
  
  margin-bottom: 5rem;
  background-color: rgba(232, 232, 230, 0.5);
 
  background-origin: padding-box;
  border-radius: 1.5rem;
  opacity: 0.0 -1.0;
  margin-top: 5rem;
  flex-wrap: wrap;
  }

  @media screen and (max-width: 48em) {
    .stats {
      grid-template-columns: repeat(2, 1fr);
      min-height: 15rem;
    }
   
    
  }


/* end of hero section styling */
/* about section styling */

.about-card{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  min-height: 25rem;  
  color: var(--color-white);
  padding: 2rem 6rem;
  margin-top: 3rem;
  border-radius: 1.5rem;
  background-color: var(--color-black);
  opacity: 0.5;
  gap: 3rem;
}

.about-img{
  background-image: url(/images/about3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1.5rem;
}
@media screen and (max-width: 43.75em) {
  .about-card{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    font-size: small;
    align-items: center;
    justify-content: center;
    

  }
  
  
  
}


/* end of about styling */

/* start of apartament section styling */

.products{
 color: var(--color-black);
  margin-top: 3rem;
  text-align: center;
  margin-bottom: 5rem;
  }

  @media screen and (max-width: 43.75em) {
    .products {
      grid-template-columns: repeat(1, 1fr);
      min-height: 15rem;
      
    }
    
    
    
  }
.apartments-section {
  display: grid;  
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 1em;
  background-color: rgba(232, 232, 230, 0.5);
  padding-left: 2em; 
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
}

@media screen and (max-width: 43.75em) {
  .apartments-section {
    flex-direction: column;
    align-items: center;
    transform: none;
    margin-top: 2rem;
    padding: 2rem;
  }
  .single-rooms{
    min-width: fit-content;
  }
}

.single-rooms{
  margin-top: 3rem;
  display: block;
    
  background-color: var(--color-black-light) ;
  opacity: 0.6;
  border-radius: 1rem;
  width: 30rem;
  font-size: 1.8rem;
}
@media (max-width: 50em) {
  .apartments-section {
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For screens up to 30em (approx. 480px) - adjust to 1 item per row */
@media (max-width: 30em) {
  .apartments-section {
    grid-template-columns: 1fr;
  }
  .products {
    grid-template-columns: repeat(1, 1fr);
    min-height: 15rem;
    font-size: 2rem;
  }
  .single-rooms{
    max-width: 10rem;
  }
  
}
.single-rooms h2, .single-rooms p{
  padding: 1rem;
  margin-bottom: 1rem;
}
.rooms-img-wrapper img{
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
}
.rooms-img-wrapper img:hover{
  opacity: 0.5;
}

/* //end of apartament section styling */ 


/* amenities section styling */


.amenities-section{
  color: var(--color-white);
  margin-top: 3rem;
  display: block;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem;
  background-color: rgba(226, 226, 213, 0.5);
  gap: 2rem;
  transform: translateY(-90px);
  align-items: center;
  justify-content: center;
  
 color: var(--color-black-dark);
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/room3.jpg);
 font-size: 2rem; 
 border-radius: 1rem;
}


.amenities-section h3{
  font-size: 2rem;
  font-family: var(--font-secondary);
  color: var(--color-white);
  text-align: center;  
}

.amenities{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;  
  padding: 3rem 3rem;
  
  justify-content: center;
  align-items: center;  
  min-height: 18rem;
  margin-bottom: 2rem;
  color: var(--color-white);
  
  
  }
  .amenity {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}

  .amenity i{
    font-size: 3rem;
    align-items: center;
    border-radius: 50%;
    background-color: #1a1a1a;
    width: 5rem;
    text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-black-light);
  display: flex;
  justify-content: center;
  align-items: center;
  --header-social-icon-width: 3rem;
  width: var(--header-social-icon-width);
  height: var(--header-social-icon-width);
  border-radius: 50%;
  border: 1px solid currentColor;
  }
  .amenity p{
    text-align: left;
  }
  @media screen and (max-width: 43.75em) {
    .amenities-section{
      grid-template-columns: repeat(2, 1fr);
      min-height: 15rem;
      
    }
    
    
    
  }
/* end of amenities section styling  */


/* contact section styling */
.contact{
  display: block;   
  align-items: center;
  padding: 2rem;
  justify-content: center;
  background-color: var(--color-black-dark);  

}


.contact-us{
  display: block;
  color: var(--color-white-light);
  background-color: var(--color-black);
  opacity: 0.9;
  color: var(--color-white);
  padding: 2rem;

}
.contact-info{
  color: var(--color-white);
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 2rem;

  

}
.contact-info a{
  text-decoration: none;
  color: var(--color-white);
  padding: 1.5rem;
  display: grid;

  
}
.contact-form{
 opacity: rgba(255,255,255,0.6);
 border-radius: 1.5rem; 
  padding: 2rem;
  min-width: 30rem;
}



.cont{
  display: flex;
  justify-content: space-around;
  margin-top: 6rem;
}
.info{
  justify-content: space-around;
  margin-top: 6rem;
  margin-left: 4rem;
}
.contact-form input, .contact-form textarea{
  width: 100%;
  padding: 1rem;
    outline: 0;
    border-width: 0 0 2px;
    border-color: var(--color-black-dark);
  }
  input:focus {
    border-color: var(--color-secondary);
    outline: 0.5px solid var(--color-black-light);
  }
  
  .btn-submit{
    background-color: var(--color-black);
    color: var(--color-white-light);
    border-radius: 2px;
  }

.details{
  padding-bottom: 2rem;
}

@media screen and (max-width: 56.25em) {
  .contact {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    font-size: small;
    align-items: center;
    justify-content: center;
    
  }
  
  .cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    
  }

  .contact-form{
    min-height: 15rem;
    font-size: small;
    
  }
  .contact-form input, .contact-form textarea{
    width: 90%;
    
      outline: 0;
      border-width: 0 0 .5px;
      border-color: var(--color-black-dark);
    }
    .info{
      justify-content: space-around;
      margin-top: .5rem;
      margin-left: 0;
    }

    .contact-us{
      margin-top: 3rem;
    }
  
}


/* end of contact styling sessions */

/* footer section */
footer{
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  min-height: 10rem;
  margin: 3rem;
}
.top-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  
}
.footer-socials{
  display: flex;
  flex-direction: column;
}
.footer-column {
  width: 20%;
}

@media screen and (max-width: 50em) {
  .footer-column {
    width: 100%;
  }
}
.footer-title {
  color: var(--color-white);
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-list-item a {
  text-decoration: none;
  color: var(--color-white);
  text-transform: capitalize;
  font-family: var(--secondary-font);
}
.footer-socials{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  color: var(--color-white);
  align-items: baseline;

}
.footer-socials a{
  text-decoration: none;
  color: var(--color-white);
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 50em) {
  footer{
    flex-wrap: wrap;
    gap: 4rem;
    font-size: small;
    padding: 2rem;
    margin-right: 1rem;

  }
  .bottom-footer{
    display: block;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
  }
  .bottom-footer .footer-socials {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .top-footer{
    font-size: small;
    /* display: grid; */
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .footer-column h3{
    text-decoration: underline;
    color: var(--color-black);
    
  }
}
/* end of footer styling */